<?xml version="1.0"?>
<opencv_storage>
<detectSmileGeoFlag>0</detectSmileGeoFlag>
<detectSmileAIFlag>0</detectSmileAIFlag>
<detectDwellFlag>1</detectDwellFlag>
<mouseClick>0</mouseClick>
<isQuickClick>1</isQuickClick>
<horSensitivity>2.2000000476837158e+00</horSensitivity>
<verSensitivity>3.</verSensitivity>
<smilingTriggerAngle>100</smilingTriggerAngle>
<minNeighborsSmileDetector>110</minNeighborsSmileDetector>
<dwellDisp>3.7000000476837158e-01</dwellDisp>
<dwellDuration>1.</dwellDuration>
<secQuickClick>6.9999998807907104e-01</secQuickClick>
<secSmile>5.0000000000000000e-01</secSmile>
<secOneClick>5.0000000000000000e-01</secOneClick>
<secDoubleClick>5.0000000000000000e-01</secDoubleClick>
<secDwellStartTime>2.</secDwellStartTime>
<flipCameraFlag>1</flipCameraFlag>
<showVideoFlag>1</showVideoFlag>
<ewmaAlpha>3.0000001192092896e-01</ewmaAlpha>
<velocitySlider>1.7999999523162842e+00</velocitySlider>
<minFaceNeighbors>6</minFaceNeighbors>
<editKeyboard>""</editKeyboard>
<needEqualize>0</needEqualize>
<needAutostart>0</needAutostart>
<minDistRatio>5.</minDistRatio>
<minCornersCount>7</minCornersCount>
<maxCornersCount>12</maxCornersCount>
<pauseTime>4.</pauseTime>
<needSound>1</needSound>
<langNum>0</langNum>
<enableMultithreading>0</enableMultithreading>
</opencv_storage>
