<?xml version="1.0"?>
<opencv_storage>
<detectSmileGeoFlag>1</detectSmileGeoFlag>
<detectSmileAIFlag>0</detectSmileAIFlag>
<detectDwellFlag>0</detectDwellFlag>
<mouseClick>0</mouseClick>
<isQuickClick>1</isQuickClick>
<horSensitivity>2.5000000000000000e+00</horSensitivity>
<verSensitivity>3.</verSensitivity>
<smilingTriggerAngle>98</smilingTriggerAngle>
<minNeighborsSmileDetector>100</minNeighborsSmileDetector>
<dwellDisp>2.0999999344348907e-01</dwellDisp>
<dwellDuration>1.</dwellDuration>
<secQuickClick>8.9999997615814209e-01</secQuickClick>
<secSmile>5.0000000000000000e-01</secSmile>
<secOneClick>5.0000000000000000e-01</secOneClick>
<secDoubleClick>5.0000000000000000e-01</secDoubleClick>
<secDwellStartTime>2.</secDwellStartTime>
<flipCameraFlag>1</flipCameraFlag>
<showVideoFlag>1</showVideoFlag>
<ewmaAlpha>2.5000000000000000e-01</ewmaAlpha>
<accumMoveRatio>6.0000002384185791e-01</accumMoveRatio>
<velocitySlider>2.</velocitySlider>
<minFaceNeighbors>8</minFaceNeighbors>
<editKeyboard>"C:\Program Files (x86)\Click2Speak\Click2Speak.Client.exe"</editKeyboard>
<needEqualize>0</needEqualize>
<needAutostart>0</needAutostart>
<minDistRatio>4.</minDistRatio>
<minCornersCount>6</minCornersCount>
<maxCornersCount>16</maxCornersCount>
<pauseTime>4.</pauseTime>
<needSound>1</needSound>
</opencv_storage>
