<?xml version="1.0"?>
<opencv_storage>
<detectSmileGeoFlag>1</detectSmileGeoFlag>
<detectSmileAIFlag>0</detectSmileAIFlag>
<detectDwellFlag>0</detectDwellFlag>
<mouseClick>1</mouseClick>
<isQuickClick>1</isQuickClick>
<horSensitivity>2.</horSensitivity>
<verSensitivity>2.5000000000000000e+00</verSensitivity>
<smilingTriggerAngle>99</smilingTriggerAngle>
<minNeighborsSmileDetector>110</minNeighborsSmileDetector>
<dwellDisp>3.7000000476837158e-01</dwellDisp>
<dwellDuration>1.</dwellDuration>
<secQuickClick>6.9999998807907104e-01</secQuickClick>
<secSmile>5.0000000000000000e-01</secSmile>
<secOneClick>5.0000000000000000e-01</secOneClick>
<secDoubleClick>5.0000000000000000e-01</secDoubleClick>
<secDwellStartTime>2.</secDwellStartTime>
<flipCameraFlag>1</flipCameraFlag>
<showVideoFlag>1</showVideoFlag>
<ewmaAlpha>3.0000001192092896e-01</ewmaAlpha>
<velocitySlider>2.</velocitySlider>
<minFaceNeighbors>8</minFaceNeighbors>
<editKeyboard>"C:\Program Files (x86)\Click2Speak\Click2Speak.Client.exe"</editKeyboard>
<needEqualize>0</needEqualize>
<needAutostart>0</needAutostart>
<minDistRatio>5.</minDistRatio>
<minCornersCount>7</minCornersCount>
<maxCornersCount>12</maxCornersCount>
<pauseTime>4.</pauseTime>
<needSound>1</needSound>
<langNum>1</langNum>
<enableMultithreading>0</enableMultithreading>
</opencv_storage>
